<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<listeners>
		<listener class-name="resources.Listeners" />
	</listeners>

	<test name="Validating User login">
		<classes>
			<class name="testCases.HomePage" />
		</classes>
	</test>

	<test name="Validating title in the Page">
		<classes>
			<class name="testCases.validateTitle" />
		</classes>
	</test>

	<test name="Validating navigation Bar">
		<classes>
			<class name="testCases.validateNavigationBar" />
		</classes>
	</test>

</suite> 
